.eventsSection {
  padding: 1rem 1rem;
  background-color: #f9f9f9;
  width: 90vw;
  margin: 0 auto;
  border-radius: 8px;
  padding-bottom: 0rem;
  overflow: hidden;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #2c3e50;
  text-align: center;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
}

.headerWrapper {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  height: 4px;
  width: 23%;
  margin: 0 auto 1rem auto;
  background-color: #00ae4d;
  transform-origin: left;
  border-radius: 2px;
}

/* Carousel container */
.carousel {
  padding-top: 0.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Horizontal scrolling track */
.track {
  display: flex;
  width: fit-content;
  gap: 1rem; /* control space between cards here */
  animation: scroll 60s linear infinite;
}

/* Pause on hover */
.paused .track {
  animation-play-state: paused;
}

/* Single slide */
.slide {
  flex: 0 0 auto;
  width: 320px;
  margin-right: 12rem;
}

/* Scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
