.resourcesSection {
  padding: 1rem 2rem;
  padding-bottom: 4rem;
  background: #f9f9f9;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #2c3e50;
  text-align: center;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
}

.underline {
  height: 4px;
  width: 38%; /* matches your title underline width */
  margin: 0 auto 0rem auto;
  background-color: #00ae4d;
  transform-origin: left;
  border-radius: 2px;
}

.subheading {
  font-size: 1rem;
  color: #777;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
